<!DOCTYPE html>
<html>
  <head>
    <title>ExperteerCodingChallengeMeetupAsync</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "i18n" %>

  </head>

  <div class="wrapper">
    <div id="flash">
      <%= render "layouts/flash_messages" %>
    </div>

    <%= yield %>
  </div>
</html>
